<div class="table">
  <table>
    <tr>
      <th>Key</th>
      <th>Size</th>
    </tr>
    <% for (key, size) in biggest_keys %>
      <tr>
        <td class="key"><%= key %></td>
        <td><%= size %></td>
      </tr>
    <% end %>
  </table>
</div>
