<table>
  <tr>
    <% for key in (keys = clients.first.keys) %>
      <th><%= key %></th>
    <% end %>
  </tr>
  <% for client in clients %>
    <tr>
      <% for key in keys %>
        <td><%= client[key] %></td>
      <% end %>
    </tr>
  <% end %>
</table>
