<div class="card">
  <table>
    <% for (key, value) in config %>
      <tr>
        <td class="key"><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</div>
<div role="alert">
  <a href="https://raw.githubusercontent.com/antirez/redis/4.0/redis.conf" target="_blank" rel="noopener nofollower">
    Redis config documentation
  </a>
</div>
