<div class="card">
  <table>
    <% for (key,value) in info %>
      <tr>
        <td class="key"><%= key %></td>
        <td><%= value %></td>
      </tr>
    <% end %>
  </table>
</div>
<div role="alert">
  <a href="https://redis.io/commands/info" target="_blank" rel="noopener nofollower">
    Redis documentation
  </a>
</div>
