<div class="table">
  <table>
    <thead>
      <th>ID</th>
      <th>At</th>
      <th>Duration</th>
      <th>Command</th>
    </thead>

    <% for cmd in commands %>
      <tr>
        <td><%= cmd.id %></td>
        <td><%= epoch_to_short_date_time cmd.timestamp %></td>
        <td><%= cmd.microseconds %></td>
        <td><%= cmd.command.join(" ") %></td>
      </tr>
    <% end %>
  </table>
</div>
